<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
			<div class="media">
			  <div class="media-left">
			      <img class="media-object" src="img/about.jpg" alt="Seema Tiwari">
				  <p class="text-center">Seema Tiwari</p>
			  </div>
			  <div class="media-body">
			    <h2 class="media-heading">Maheshwari Creations</h2>
				<p class="text-faded">Maheshwari Creations company has been founded by Seema Tiwari in 2012.</p>
				<p class="text-faded">The company was founded with the vision to popularize the Royal heritage of handloom sarees and make it accessible to the people all around the world. We have around 30 weavers. Every piece of cloth we sell is made exclusively on handloom.</p>
				<p class="text-faded">We have via eCommerce reached a lot of people.</p>	
			  </div>
			</div>
        </div>
        <div class="row">
			<div class="media">
			  <div class="media-left">
			      <img class="media-object" src="img/company.jpg" alt="Seema Tiwari">
			  </div>
			  <div class="media-body">
				<p class="text-faded">Seemaji with one of the weavers.</p>
				
			  </div>
			</div>
        </div>
    </div>
</section>
