<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
			<div class="media">
			  <div class="media-left">
			      <img class="media-object" src="img/about.jpg" alt="Seema Tiwari">
				  <p class="text-center">Seema Tiwari</p>
			  </div>
			  <div class="media-body">
			    <h2 class="media-heading">Maheshwari Creations</h2>
				<p class="text-faded">Maheshwari Creations company has been founded by Seema Tiwari in 2012. She is an expert committee member in PHD Chamber of Commerce.</p>
				<p class="text-faded">The company was founded with the vision to popularize the Royal heritage of handloom sarees and make it accessible to the people all around the world. We have around 30 weavers. Every piece of cloth we sell is made exclusively on handloom.</p>
				<p class="text-faded">We have via eCommerce reached a lot of people.</p>	
			  </div>
			</div>
        </div>
        <div class="row">
			<div class="media">
			  <div class="media-left">
			      <img class="media-object" src="img/nidhi.jpg" alt="Nidhi Jha">
				  <p class="text-center">Nidhi Jha</p>
			  </div>
			  <div class="media-body">
				<p class="text-faded">Nidhi Jha is the Digital Marketing Executive. She handles all the online and international clients. She also trains the weavers in eCommerce.</p>				
			  </div>
			</div>
        </div>
        <div class="row">
			<div class="media">
			  <div class="media-left">
			      <img class="media-object" src="img/company.jpg" alt="Seema Tiwari">
			  </div>
			  <div class="media-body">
				<p class="text-faded">Seemaji with one of the weavers.</p>
				
			  </div>
			</div>
        </div>
		<br/>
        <div class="row">
			<div class="media">
			  <div class="media-left">
			      <img class="media-object" src="img/about/01.png" alt="Seema Tiwari">
			  </div>
			  <div class="media-body">
				<p class="text-faded">Seemaji awarding one of the weavers during their skill developement classes.</p>
				<p class="text-faded">One of the reasons for founding of Maheshwari Creations has been to empower the weavers, who were losing their livelyhood to powerloom. We conducts free English classes for the weavers on weekly basis.</p>
				
			  </div>
			</div>
        </div>
		<br/>
        <div class="row">
			<div class="media">
			  <div class="media-left">
			      <img class="media-object" src="img/about/02.jpg" alt="Seema Tiwari">
			  </div>
			  <div class="media-body">
				<p class="text-faded">One of the weavers working on the loom.</p>
				
			  </div>
			</div>
        </div>
    </div>
</section>
